*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/player/build
/ijkplayer-arm64/build
/ijkplayer-armv5/build
/ijkplayer-armv7a/build
/ijkplayer-x86/build
/ijkplayer-x86_64/build
/ijkplayer-exo/build
/ijkplayer-java/build
/captures
.externalNativeBuild
.cxx
